mixin menu(data)
  .menu
    .menu__list
      a(href="#" title="").menu__item Фильмы
      a(href="#" title="").menu__item Сериалы
      a(href="#" title="").menu__item Музыка
      a(href="#" title="").menu__item Софт
      a(href="#" title="").menu__item Игры
      a(href="#" title="").menu__item Книги
      a(href="#" title="").menu__item Документы
      a(href="#" title="").menu__item Драйвера
      a(href="#" title="").menu__item Прошивки
      a(href="#" title="").menu__item Шаблоны
      a(href="#" title="").menu__item Схемы
      a(href="#" title="").menu__item Мануалы