mixin main-films(data)
  .main-films.widget
    .title._center Фильмы
    .main-films__wrapper
      +item-block._vertical
      +item-block._vertical
      +item-block._vertical
      +item-block._vertical
      +item-block._vertical
      +item-block._vertical