mixin footer(data)
  footer.footer
    .footer-menu
      a(href="#" title="").footer-menu__item Пользовательское соглашение
      a(href="#" title="").footer-menu__item Для правообладателей
      a(href="#" title="").footer-menu__item Реклама на сайте
    .footer-counters
      img(src="%=static=%images/content/counters.png" alt='')