mixin single-land(data)
  .single
    .single-top
      .single-top-left
        img(src="%=static=%images/content/social.png" alt="")

    .single-over
      table
        tr
          td
          td
        tr
          td(align="top")
            img(src="%=static=%images/content/land-avatar.png" alt="")
            .single-likes
              .single-likes__item._like
                i.fa.fa-thumbs-o-up
                span 7689
              .single-likes__item._dislike
                i.fa.fa-thumbs-o-down
                span 2445
            .land-list
              .land-list__item
                i.fa.fa-check 
                | Высокая скорость загрузки файлов, в любое время суток из любой точки мира 
              .land-list__item
                i.fa.fa-check
                | Самая большая база файлов с ежедневным добавлением новинок 
              .land-list__item
                i.fa.fa-check
                | Неограниченное колличество скачиваний 
              .land-list__item
                i.fa.fa-check
                | Все файлы проверены антивирусом и безопасны для запуска 

          td
            .land-download
              .land-download__title Ace Stream Media Player 3.1.6 (CrossOver) [Ru]

              .land-download-info
                .land-download-info__left
                  a(href="#" title="").land-download-btn._direct Скачать
                .land-download-info__center
                  a(href="#" title="").land-download-btn._torrent .torrent
                .land-download-info__right
                  img(src="%=static=%images/content/freeleech.png" alt="")
                  img(src="%=static=%images/content/kav.png" alt="")

            .single-forum-info
              table
                tr
                  td
                  td [NNMClub.to]_Ace Stream Media 3.1.6.torrent
                tr
                  td Торрент:
                  td Зарегистрирован
                tr
                  td Зарегистрирован: 
                  td 19 Апр 2016 17:04:00
                tr
                  td Размер: 
                  td 5,53 GB 
                tr
                  td Рейтинг:
                  td 4,7     (Голосов: 161)
                tr
                  td Поблагодарили: 
                  td 583
                tr
                  td Проверка:   
                  td Оформление проверено модератором 19 Апр 2016 17:06:08

  .vk-comments
    img(src="%=static=%images/content/vk-comments.png" alt="")