mixin registration
  .registration
    .registration__title Авторизация

    form.registration-form
      .registration-form__title Для входа на сайт и снятия ограничений на скачивание файлов, введите номер мобильного телефона.

      .registration-form__label Введите Ваш номер телефона ниже

      input(type="text" value="").registration-form__field

      .registration-form__sublabel Например: +79991115566

      input(type="submit" value="Продолжить").registration-form__submit