mixin single(data)
  .single
    .single-top
      .single-top-left
        img(src="%=static=%images/content/social.png" alt="")
      .single-top-right
        .single-top-right__item Torrent activity:
          span._green Seeders: [ 45  (0 B/s) ]
          span._red Leechers:  [ 2  (0 B/s) ]

    .single-over
      table
        tr
          td
          td Сообщение
        tr
          td(align="top")
            img(src="%=static=%images/content/avatar.png" alt="")
            .single-likes
              .single-likes__item._like
                i.fa.fa-thumbs-o-up
                span 7689
              .single-likes__item._dislike
                i.fa.fa-thumbs-o-down
                span 2445
          td
            .single-forum
              .single-forum__msg
                i.fa.fa-file-o
                span 02 Июл 2016 11:50:45  Заголовок сообщения: Ace Stream Media Player 3.1.6 (CrossOver) [Ru]
              .single-forum__title Ace Stream Media Player 3.1.6 (CrossOver) [Ru]

              .single-forum-content
                p 
                  strong Тип издания:
                  | OS X Software
                p 
                  strong Релиз состоялся: 2016
                p 
                  strong Поддерживаемая 
                  | ОС: OS X 10.9 и выше
                p 
                  strong Разработчик: acestream.org
                br
                p 
                  strong Язык интерфейса: 
                  | Русский, Английский, и другие
                br
                p 
                  strong Лечение: 
                  | не требуется
                br
                p 
                  strong Системные требования:
                  br
                  p OS X 10.9 и выше
                  p CrossOver 15+
                  p 700 мегабайт свободного места 
                br
                p 
                  strong Описание:
                  p Ace Stream – это медиа-платформа нового поколения, с децентрализованной/распределенной системой поставки и хранения мультимедийных данных, предназначенная для создания интернет-сервисов с функциями AVoD (Аудио и Видео по Запросу) и Live Streaming («живого»/потокового вещания), с обширной социальной и интерактивной составляющей.

              .single-forum-screen
                .single-forum-screen__title Скриншоты
                
                img(src="http://placehold.it/244x225")
                img(src="http://placehold.it/250x186")
                img(src="http://placehold.it/248x223")

              .single-forum-info
                table
                  tr
                    td
                    td [NNMClub.to]_Ace Stream Media 3.1.6.torrent
                    td                       
                  tr
                    td Торрент:
                    td Зарегистрирован
                    td(rowspan="6").single-forum-info__right
                      img(src="%=static=%images/content/freeleech.png" alt="")
                      a(href="#" title="").single-forum-download Скачать
                      img(src="%=static=%images/content/kav.png" alt="")
                  tr
                    td Зарегистрирован: 
                    td 19 Апр 2016 17:04:00
                  tr
                    td Размер: 
                    td 5,53 GB 
                  tr
                    td Рейтинг:
                    td 4,7     (Голосов: 161)
                  tr
                    td Поблагодарили: 
                    td 583
                  tr
                    td Проверка:   
                    td Оформление проверено модератором 19 Апр 2016 17:06:08

  .vk-comments
    img(src="%=static=%images/content/vk-comments.png" alt="")