mixin main-music(data)
  .main-music.widget
    .title._center Музыка
    .main-music__wrapper
      +item-block._horizontal
      +item-block._horizontal
      +item-block._horizontal
      +item-block._horizontal
      +item-block._horizontal
      +item-block._horizontal
      +item-block._horizontal
      +item-block._horizontal