mixin sidebar-categories(data)
  .sidebar-categories.widget
    .title Разделы
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Фильмы
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Сериалы
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Музыка
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Софт
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Игры
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Книги
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Документы
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Драйвера
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Прошивки
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Шаблоны
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Схемы
    a(href="#" title="").sidebar-categories__item 
      i.fa.fa-angle-double-right
      | Мануалы

