mixin sidebar-popular(data)
  .sidebar-popular.widget
    .title Популярные раздачи

    table
      tr
        td 1
        td 
          a(href="#" title="") Варкрафт / Warcraft (2016) WEBRip [H.264/1080p-LQ] [Line]
      tr
        td 2
        td  
          a(href="#" title="") Одноклассницы (2016) WEB-DL [H.264/1080p-LQ]
      tr
        td 3
        td  
          a(href="#" title="") Snappy Driver Installer R461 / Драйверпаки 16065 [Multi/Ru]
      tr
        td 4
        td  
          a(href="#" title="") Варкрафт / Warcraft (2016) WEBRip [H.264/1080p-LQ] [Line]
      tr
        td 5
        td  
          a(href="#" title="") Одноклассницы (2016) WEB-DL [H.264/1080p-LQ]
      tr
        td 6
        td  
          a(href="#" title="") Snappy Driver Installer R461 / Драйверпаки 16065 [Multi/Ru] 
      tr
        td 7
        td  
          a(href="#" title="") Варкрафт / Warcraft (2016) WEBRip [H.264/1080p-LQ] [Line]
      tr
        td 8
        td  
          a(href="#" title="") Одноклассницы (2016) WEB-DL [H.264/1080p-LQ]
      tr
        td 9
        td  
          a(href="#" title="") Snappy Driver Installer R461 / Драйверпаки 16065 [Multi/Ru] 
      tr
        td 10
        td  
          a(href="#" title="") Варкрафт / Warcraft (2016) WEBRip [H.264/1080p-LQ] [Line]
      tr
        td 11
        td  
          a(href="#" title="") Одноклассницы (2016) WEB-DL [H.264/1080p-LQ]
      tr
        td 12
        td  
          a(href="#" title="") Snappy Driver Installer R461 / Драйверпаки 16065 [Multi/Ru] 
      tr
        td 13
        td  
          a(href="#" title="") Варкрафт / Warcraft (2016) WEBRip [H.264/1080p-LQ] [Line]
      tr
        td 14
        td  
          a(href="#" title="") Одноклассницы (2016) WEB-DL [H.264/1080p-LQ]
      tr
        td 15
        td  
          a(href="#" title="") Snappy Driver Installer R461 / Драйверпаки 16065 [Multi/Ru] 